.stage {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: 0 auto;
}

.stage-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    border-radius: 24px 24px 0 0;
    background-color: #efefef;
    padding: 5rem 2rem 3rem;
}

.stage__stats {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.stage__stats--emoji {
    font-size: 3.3rem;
}

.stage__stats--counter {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.stage-middle {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.stage__accuracy {
    min-width: 190px;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.stage__stats--kpm {
    min-width: 180px;
    display: flex;
    justify-content: space-between;
}

.stage__words {
    display: flex;
}

.buttons-row {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #efefef;
}

.restart-button__wrapper {
    position: relative;
}

.restart-button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #adb5bd;
    color: #6c757d;
    font-weight: 600;
}

.restart-button:hover {
    color: #8028bc;
    border-color: #8028bc;
}

.sound-on {
    position: absolute;
    right: -65px;
    top: 2px;
    height: 35px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .stage {
        padding: 3rem;
        height: auto;
    }
}
