.stage {
    height: 340px;
    padding: 5rem 2rem 3rem;
    margin: auto;
    border-radius: 8px;
    background-color: #efefef;
}

@media (max-width: 991px) {
    .stage {
        padding: 3rem;
        height: auto;
    }
}

.stage__mistakes {
    text-align: center;
    margin-bottom: 64px;
}

.stage__words {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}