@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #efefef;
}

#root {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.95)),
    url('../public/bg-typewriting.jpg');
}

.container {
    width: 100vw;
    display: flex;
    flex-flow: column;
}

.container h1 {
    text-align: center;
    padding: 1.5em;
    margin: 0;
}

.header-wrapper {
    background-color: #ffffff;
}

.keyboard-container {
    display: flex;
    justify-content: center;
}

.keyboard {
    margin: 0 auto;
}

@media (max-width: 991px) {
    .keyboard {
        max-width: 100%;
    }
}